{
  "ignore": [
    "*.scss",
    "/node_modules/"
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current",
          "uglify": true
        }
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-runtime",
    "transform-regenerator",
    "transform-object-rest-spread",
    "transform-class-properties"
  ]
}